{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}
{% block content %}
<div style="text-align:center">
<h1 class="display-1">Комплекс задач інформаційної підтримки процесу дослідження задач теорії розкладів</h1>
    <h3><a href="interface">Згенерувати задачу</a></h3>
    <h3><a href="statistic">Обрати існуючу задачу</a></h3>
    <h3><a href="options"> Створити класифікатор</a></h3>
    <h3><a href="result_classifier">Переглянути класифікатори</a></h3>
    <h3><a href="result_task">Переглянути існуючі індивідуальні задачі та параметри генерації</a></h3>
    <h3><a href="show_result">Переглянути розклади</a></h3>
</div>

{% endblock %}

