{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}
{% block content %}
<h1>Система з  підтримки процесу дослідження задач теорії розкладів” </h1>

<h3><a href="interface">Згенерувати задачу</a></h3>
<h3><a href="options"> Згенерувати межі класифікатора</a></h3>
<h3><a href="result_classifier">Переглянути класифікатори</a></h3>
<h3><a href="result_task">Переглянути існуючі задачі</a></h3>
<h3><a href="show_result">Переглянути розклади</a></h3>

{% endblock %}

