{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block content %}
<a href="/">Home</a>
<a href="/result_task">Result Task</a>
<a href="/interface">Create set</a>
<a href="/options">Create classifier</a>
<a href="/result_classifier">Result Classifier</a>
<br>

<div class="container">
    <form method="POST">
         <legend>Пристрої</legend>
        Тип {{ form.I_type }} <br>
        Кількість
     <label> {{ form.n_min.label }} </label>
        {{ form.n_min }}
        {{ form.n_max.label }}
        {{ form.n_max }}
        {{ form.n_step.label }}
        {{ form.n_step }} <br>
           </fieldset>
        <legend>Завдання</legend>
        {{ form.P.label }}
        {{ form.P(class_="custom-select") }} <br>
        {{ form.Q.label }}
        {{ form.Q }} <br>
        {{ form.H.label }}
        {{ form.H }} <br>
        {{ form.distribution.label }}
        {{ form.distribution }} <br>
        {{ form.amount_of_tasks.label }}
        {{ form.amount_of_tasks }} <br>
        {{ form.gen_algo.label }}
        {{ form.gen_algo }} <br>
     <legend> Критерії</legend>
        <select class="custom-select" size="3">
             <option selected value="1">One</option>
             <option value="2">Two</option>
             <option value="3">Three</option>
        </select>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Змінити</button>
    </form>
   </div>
<a href="options">options</a>

{% endblock %}