{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
 <div class="navbar-header">
 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
 <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 </button>
 <a class="navbar-brand" href="#">Згенерувати задачі</a>
 </div>
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 <ul class="nav navbar-nav">
     <li><a href="/">Головне меню</a></li>>
     <li><a href="/result_task">Результати генерації</a></li>
    {#   <li><a href="/interface">Згенерувати задачу</a></li> #}
    <li><a href="/options">Створити класифікатор</a></li>
     <li><a href="/result_classifier">Переглянути класифікатор</a></li>
 </ul>
 </div>
  </div>
</nav>
<br>
     {{ form.csrf_token }}
<div class="container">
    <form class="form-horizontal" method="POST">
       <legend><h2>Пристрої</h2></legend>
        <div class="form-group ">
            {{form.I_type.label(class="col-sm-2")}}
            <div class="col-sm-2">
                {{form.I_type(class="form-control")}}
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2">Кількість</label>
            <div class="">
                {{form.n_min.label(class="col-sm-1")}}
                <div class="col-sm-1">
                    {{form.n_min(class="form-control")}}
                </div>
            </div>
            <div class=" ">
                {{form.n_max.label(class="col-sm-1")}}
                <div class="col-sm-1">
                    {{form.n_max(class="form-control")}}
                </div>
            </div>
            <div class="">
                {{form.n_step.label(class="col-sm-1")}}
                <div class="col-sm-1">
                    {{form.n_step(class="form-control")}}
                </div>
            </div>
        </div>
        <br>
        <legend><h2>Завдання</h2></legend>
        <div class="form-group">
            {{form.C.label(class="col-sm-2")}}
            <div class="col-sm-2">
                {{form.C(class="form-control")}}
            </div>
{#            <p class="col-sm-5 help-block">#}
{#            {{ form.C.errors[0] }}#}
        </div>
        <div class="form-group ">
            {{form.P.label(class="col-sm-2")}}
            <div class="col-sm-2">
                {{form.P(class="form-control")}}
            </div>
{#            <p class="col-sm-5 help-block">#}
{#            {{ form.P.errors[0] }}#}
        </div>
        <div class="form-group ">
            {{form.H.label(class="col-sm-2")}}
            <div class="col-sm-2">
                {{form.H(class="form-control")}}
            </div>
{#            <p class="col-sm-5 help-block">#}
{#            {{ form.H.errors[0] }}#}
        </div>
        <div class="form-group">
            {{form.Q.label(class="col-sm-2")}}
            <div class="col-sm-2">
                {{form.Q(class="form-control")}}
            </div>
{#            <p class="col-sm-5 help-block">#}
{#            {{ form.Q.errors[0] }}#}
        </div>
        <div class="form-group ">
            {{form.distribution.label(class="col-sm-2")}}
            <div class="col-sm-2">
                {{form.distribution(class="form-control")}}
            </div>
{#            <p class="col-sm-5 help-block">#}
{#            {{ form.distribution.errors[0] }}#}
        </div>
        <div class="form-group">
            {{form.amount_of_tasks.label(class="col-sm-2")}}
            <div class="col-sm-2">
                {{form.amount_of_tasks(class="form-control")}}
            </div>
{#            <p class="col-sm-5 help-block">#}
{#            {{ form.amount_of_tasks.errors[0] }}#}
        </div>
        <div class="form-group">
            {{form.gen_algo.label(class="col-sm-2")}}
            <div class="col-sm-2">
                {{form.gen_algo(class="form-control")}}
            </div>
{#            <p class="col-sm-5 help-block">#}
{#            {{ form.gen_algo.errors[0] }}#}
        </div>
        <legend><h2>Критерії</h2></legend>
        <div class="form-group">
            {{form.add_opt_task.label(class="col-sm-2")}}
            <div class="col-sm-2">
                {{form.add_opt_task(class="form-control")}}
            </div>
{#            <p class="col-sm-5 help-block">#}
{#            {{ form.add_opt_task.errors[0] }}#}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Згенерувати задачі</button>
    </form>
   </div>
<a href="options">options</a>
{% endblock %}
