<!DOCTYPE html>

{% extends "bootstrap/base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Вхідні параметри</title>

</head>

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block content %}
<a href="/">Home</a>
<a href="/result_task">Result Task</a>
<a href="/interface">Create set</a>
<a href="/options">Create classifier</a>
<a href="/result_classifier">Result Classifier</a>
<br>
<div class="container">
    <form method="post">
        <legend>Тривалість завдань (P)</legend>

        <div class="form-group row">
            <label class="col-sm-1 col-form-label">XS</label>
            <div class="col-sm-3">{{ form.P_XS(class_="form-control") }}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">S</label>
            <div class="col-sm-3">{{ form.P_S(class_="form-control") }}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">M</label>
            <div class="col-sm-3">{{ form.P_M(class_="form-control") }}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">L</label>
            <div class="col-sm-3">{{ form.P_L(class_="form-control") }}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">XL</label>
            <div class="col-sm-3">{{ form.P_XL(class_="form-control") }}</div>
        </div>
        <legend> Ступінь розсіювання довжин завдань (Q)</legend>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">XS</label>
            <div class="col-sm-3">{{ form.Q_XS(class_="form-control") }}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">S</label>
            <div class="col-sm-3">{{ form.Q_S(class_="form-control") }}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">M</label>
            <div class="col-sm-3">{{ form.Q_M(class_="form-control") }}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">L</label>
            <div class="col-sm-3">{{ form.Q_L(class_="form-control") }}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">XL</label>
            <div class="col-sm-3">{{ form.Q_XL(class_="form-control") }}</div>
        </div>

        <legend>Cтупінь розсіювання коефіцієнтів продуктивності (H) </legend>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">XS</label>
            <div class="col-sm-3">{{ form.H_XS(class_="form-control") }}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">S</label>
            <div class="col-sm-3">{{ form.H_S(class_="form-control") }}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">M</label>
            <div class="col-sm-3">{{ form.H_M(class_="form-control") }}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">L</label>
            <div class="col-sm-3">{{ form.H_L(class_="form-control") }}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">XL</label>
            <div class="col-sm-3">{{ form.H_XL(class_="form-control") }}</div>
        </div>

        <legend>C*</legend>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">C*</label>
            <div class="col-sm-3">{{ form.C(class_="form-control") }}</div>
        </div>


        <button class="btn btn-lg btn-primary btn-block" type="submit">Змінити</button>
</div>

</form>
</div>
{% endblock %}