<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вхідні параметри</title>
</head>
<body>
<form>
  P <br>
  XS
  <input type="number" name="P_XS" min="0" max="100"><br>
  S
  <input type="number" name="P_S" min="0" max="100"><br>
  M
  <input type="number" name="P_M" min="0" max="100"><br>
  L
  <input type="number" name="P_L" min="0" max="100"><br>
  XL
  <input type="number" name="P_XL" min="0" max="100"><br>
  Q <br>
  XS
  <input type="number" name="Q_XS" min="0" max="100"><br>
  S
  <input type="number" name="Q_S" min="0" max="100"><br>
  M
  <input type="number" name="Q_M" min="0" max="100"><br>
  L
  <input type="number" name="Q_L" min="0" max="100"><br>
  XL
  <input type="number" name="Q_XL" min="0" max="100"><br>
H <br>
  XS
  <input type="number" name="H_XS" min="0" max="100"><br>
  S
  <input type="number" name="H_S" min="0" max="100"><br>
  M
  <input type="number" name="H_M" min="0" max="100"><br>
  L
  <input type="number" name="H_L" min="0" max="100"><br>
  XL
  <input type="number" name="H_XL" min="0" max="100"><br>
    С*
  <input type="number" name="С" min="0" max="100"><br>
  <input type="submit" value="Змінити">
</form>


</body>
</html>